<launch>

  <!-- Publish the SubT logo as a ROS sensor_msgs/PointCloud2 message -->
  <!-- depends on the ROS package `pcl_ros` -->

  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="subt_pcd" output="screen" args="$(find mapping_relay)/test/SubTLogo.pcd 5">
	<param name="frame_id" value="darpa"/>
	<remap from="cloud_pcd" to="slam/cloud"/>
	<param name="latch" value="true"/>
  </node>

</launch>
